<div class="container-fluid">
  <div class="row align-items-start">
        <div class="list-group col-lg-3 rounded">
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/1']" style="color:black"> Auftritt 1</a>
            </li>
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/2']" style="color:black"> Auftritt 2</a>
            </li>
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/2']" style="color:black"> Auftritt 2</a>
            </li>
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/2']" style="color:black"> Auftritt 2</a>
            </li>
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/2']" style="color:black"> Auftritt 2</a>
            </li>
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/2']" style="color:black"> Auftritt 2</a>
            </li>
            <li class="list-group-item list-group-item-action" routerLinkActive="is_active font-weight-bold">
              <a class="nav-link" [routerLink]="['/galerie/2']" style="color:black"> Auftritt 2</a>
            </li>
      </div>


      <div class=" col-lg-8 mb-2 container shadow rounded" style="background-color: rgba(255, 255, 255, 0.911); width: 720px; height: 600px;">
        <router-outlet>
        </router-outlet>
      </div>

        <!--<div data-spy="scroll" data-target="#scrollspy" data-offset="0" class="col-lg-8 position-relative">
          <div class="mb-2 container shadow rounded" style="background-color: rgb(255, 180, 255);">
            <h4 class="display-4" id="carousel1"></h4>
            <app-carousel1></app-carousel1>
          </div>
          <div class="mb-2 container shadow rounded" style="background-color: rgb(255, 180, 255);">
            <h4 class="display-4" id="carousel2"></h4>
            <app-carousel2 ></app-carousel2>
          </div>

        </div>-->
  </div>
</div>
